body  {

    background-color: rgb(245, 229, 209);
}
h1{

    align-content: center;
}
.form{

    margin: auto;
    padding: auto;
    width: 30%;
    background-color: rgba(212, 178, 245, 0.733);
    align-items:center;
}
table{

    margin: auto;
}